<th:block th:include="header.html"></th:block>
<div class="container table-container">
    <table class="table" th:if="${not #lists.isEmpty(users)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{/users/details/{id}(id=${user.id})}">
                    <span th:text="${user.id}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/details/{id}(id=${user.id})}">
                    <span th:text="${user.firstName}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/details/{id}(id=${user.id})}">
                    <span th:text="${user.lastName}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/details/{id}(id=${user.id})}">
                    <span th:text="${user.email}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(users)}" class="text-center">
        <h1>The table Users is empty, please <a th:href="@{/users/new}">add some users in the table.</a></h1>
    </div>
</div>
<th:block th:include="footer.html"></th:block>